.profile-card__image {
    border-radius: 50%;
}

.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: var(--lighter-bg);
    padding: 2rem;
    margin: 0 1rem;
}

.profile-card__user-location {
    color: var(--accent);
}

.profile-card__link {
    background-color: var(--even-lighter-bg);
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;

}

.profile-card__links {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
    width: 100%;
}

.profile-card__links li {
    display: block;
    transition: all 2s ease-in;
}

#profile-card__description, .profile-card__link {
    text-align: center;
}

.profile-card__link:hover, .profile-card__link:active {

    color: var(--accent);
    font-weight: bold;
}

.profile-card__link:hover {
    transform: scale(1.05);
}

.profile-card__link:active {
    transform: scale(0.95);

}